// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body{
  padding: 20px;
  background-image:url(https://media.giphy.com/media/oSYflamt3IEjm/giphy.gif);
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
}

ul li {
  text-decoration: none;
  display: block;
}

a:hover{
  text-decoration:none;
}

